.flat-card{
  background-color: #F8F9FA;
  border: 1px solid #F8F9FA;
  margin: 0px;
  margin-bottom: 10px;
  list-style: none;
  width: 300px;
  padding: 0px;
  box-shadow: 2px;
}

.grey-box{
  background-color: #F8F9FA;
  padding: 20px;
  padding-top: 10px;
}

.grey-box img{
  background-fit: cover;
}


.grey-box h4{
  font-family: System-ui;
  font-size: 24px;
}

.grey-box h5{
  font-family: System-ui;
  font-size: 16px;
}

.more-info{
  background-color: white;
  padding: 15px;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}


